.shops-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid: gap 20px;
}


.shops-title{
    text-align: center;
}



@media only screen and (max-width:500px){
    .shops-container{
    grid-template-columns: repeat(1, 1fr);
    }
}